@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    height: 100%;
    background: burlywood;
}

.video-catalog-container {
    margin: 30px 40px 30px 40px;
}

.pagination-links-container {
    margin: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-links-container p {
    padding: 10px;
}

.active-link {
    font-weight: bold;
    color: beige;
    border: 2px solid beige;
    border-radius: 10%;
}

.disabled-link {
    color: #9ca3af;
}
